@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@font-face {
  font-family: "Circular Std Book";
  src: url("./fonts/Circular\ Std\ Font.otf") format("otf");
}
body {
  background: #f5f5f5;
}
